<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <link href="./styles.css" rel="stylesheet">

    <title>Hello, world!</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#infoUser">JohnDoe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#perInfo">Personal Info</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#projectInfo">
                            Project Info
                        </a>
                        <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">MERN</a></li>
            <li><a class="dropdown-item" href="#">PythonFullSatck</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Other projects</a></li>
          </ul> -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#conatctForm" tabindex="-1">contact me</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <section id="infoUser">
        <h1 class="text-warning text-center pt-3">{{ userName }}</h1>
        <div class="container d-flex ">
            <div class="row">
                <div class="col-12 col-md-6 text-center">
                    <p class="lead mt-5" style="font-size: xx-large;">Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Distinctio fugiat ut fuga illum! Velit, quae dolorum?</p>
                    <button class="btn btn-warning ">Click me for more info</button>
                </div>
                <div class="col-12 col-md-6 text-center">
                    <img src="./johnDoe.png" alt="john doe image" class="img-fluid rounded-circle img-thumbnail" />
                </div>
            </div>
        </div>
    </section>

    <hr>
    <section id="perInfo">
        <h1 class="text-warning text-center pt-3"><span>{{ userName }} </span>'s Personal Information</h1>

        <div class="container mt-2">
            <div class="row">
                <div class="col-12 col-md-6">
                    <img src="./infoImage.jpg" alt="img info" class="img-fluid w-100" />
                </div>
                <div class="col-12 col-md-6">
                    <div class="customFontFamily p-3">
                        <p><span>Full Name:</span> {{ userName }}</p>
                        <p><span>Email :</span> {{ email }}</p>
                        <p><span>Contact Number:</span> {{ mobNumber }}</p>
                        <p>
                        <address>
                            <span>city : </span> Chiplun; <br>
                            <span>State : </span> Maharashtra;<br>
                            <span> Country : </span> India <br>
                            <span>Pincode : </span> 456456
                        </address>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <hr>
    <section id="projectInfo">
        <h1 class="text-warning text-center pt-3"><span>{{ userName }} </span>'s Project Information</h1>
        <div class="container mt-3">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 mb-2">
                    <div class="card text-center bg-dark">
                        <div class="card-header">
                            Featured
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment 1</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-outline-warning">Go somewhere</a>
                        </div>
                        <div class="card-footer text-muted">
                            2 days ago
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-2">
                    <div class="card text-center bg-dark">
                        <div class="card-header">
                            Featured
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment 1</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-outline-warning">Go somewhere</a>
                        </div>
                        <div class="card-footer text-muted">
                            2 days ago
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-2">
                    <div class="card text-center bg-dark">
                        <div class="card-header">
                            Featured
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment 1</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-outline-warning">Go somewhere</a>
                        </div>
                        <div class="card-footer text-muted">
                            2 days ago
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-2">
                    <div class="card text-center bg-dark">
                        <div class="card-header">
                            Featured
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment 1</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#" class="btn btn-outline-warning">check code on Github</a>
                        </div>
                        <div class="card-footer text-muted">
                            2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <hr>
    <section id="teckknow">
        <h1 class="text-warning text-center pt-3">Technologies which <span>{{ userName }} </span> Know</h1>
        <div class="conatiner w-25 mx-auto">
            <ul>
                <li>OS</li>
                <ul>
                    <li>Windows</li>
                    <li>Android</li>
                    <li>Linux</li>
                    <li>iOS</li>
                </ul>
                <li>FrontEnd</li>
                <ul>
                    <li>HTML</li>
                    <Li>CSS</Li>
                    <li>ReactJS</li>
                    <li>NextJS</li>
                    <li>Angular</li>
                </ul>
                <li>Backend</li>
                <ul>
                    <li>FLask</li>
                    <li>Django</li>
                    <li>NodeJS</li>
                    <li>Springboot</li>
                </ul>
                <li>database</li>
                <ul>
                    <li>MySQL</li>
                    <li>MongoDB</li>
                </ul>
            </ul>
        </div>
    </section>

    <section id="conatctForm">
        <h1 class="text-warning text-center pt-3">Conatct to <span>{{ userName }} </span></h1>

        <div class="container w-50 mx-auto">

            <form method="POST" action="/submit">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com" name="EmailID">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Mobile number</label>
                    <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="+91-12312312" name="MobileNUMBER">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput3" class="form-label">Message</label>
                    <input type="text" class="form-control" id="exampleFormControlInput3" name="messageCONTENT">
                </div>
                <input type="submit" class="btn btn-outline-dark"/>
            </form>
        </div>
    </section>
    <footer class="text-end">&copy; {{ userName }}</footer>





    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>