<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>submit form</title>
</head>
<body>
    <h1>
        Form submitted successfully.... 
        To <span>{{ userName }}</span>
    </h1>

    <hr>
    {{ userName }} , are interested !!! <br>
this message you have received <br>
<b>{{message}}</b> <br>
    if yes contact me  <br>
    {{email_id}},<br>
    Or you can call me on 
    {{mobNumber}}
</body>
</html>